<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= form_for @flight do |f| %>
    <%= f.label "From" %>
    <%= f.select :from_airport, options_for_select(@airports.map { |airport| airport.name } ) %>

    <%= f.label "To" %>
    <%= f.select :to_airport, options_for_select(@airports.map { |airport| airport.name } ) %><br />

    <%= f.label "Departure Date" %>
    <%= f.select :departure, options_for_select(@flights.order("departure").map { |flight| flight.departure.strftime("%m/%d/%Y") }.uniq ) %>

<% end %>